<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}">
<body>
<section class="dashboard-section" layout:fragment="main-content">
    <h4>🎬 Admin Dashboard</h4>
    <p>Welcome, Admin!</p>
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Edit</span>
                    <p>Edit</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Edit</span>
                    <p>Edit</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
